# Ver que tipo de log es mas util en
# https://seldaek.github.io/monolog
LOG_LEVEL=DEBUG

# El path es relativo al root
LOG_PATH='/logs/app.log'

# Configuracion de la DB
DB_ADAPTER=postgresql
DB_HOSTNAME=localhost
DB_DBNAME=database_name
DB_USERNAME=root
DB_PASSWORD= 
DB_PORT=54322
DB_CHARSET=utf8

# Configuracion del pgamdin
PGADMIN_DEFAULT_EMAIL=paw@paw.com
PGADMIN_DEFAULT_PASSWORD=paw
PGADMIN_LISTEN_PORT=8080
PGADMIN_PORT=5050