section{
    text-align: center;
}

h2::after{
    content: ' ';
    background-image: url('../../img/Imagen_IniciarSesion.jpg');
    background-position: center;
    background-size: cover;
}

form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
                        "fset"
                        "rst"
                        "crear"
                        "btn";
    text-align: left;
    align-content: center;
    margin
    font-size: larger;
}

fieldset{
    grid-area: fset;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
                        "f1"
                        "f2"
                        "f3"
                        "f4";
    align-items: center;
    justify-items: self-start;
    margin-bottom: 2rem;
}

fieldset > input{
    background-color: var(--gris);
    border-radius: 10px;
    height: 3rem;
    width: 25ch;
    border: none;
    margin-bottom: 1rem;
}

label{
    font-size: larger;
    align-self:flex-end;
}


input:placeholder-shown{
    text-align: left;
    padding-left: 2ch;
    font-size: larger;
}


form > a{
    align-self: center;
    justify-self: center;
    text-align: center;
}

form > a:last-of-type{
    margin-top: 2rem;
    align-self: center;
}


.boton{
    grid-area: btn;
    align-self: center;
    justify-self: center;
    padding: .75rem 7.5rem;
    margin-top: 2rem;
    border: 1px white solid;
}

.boton:hover{
    background-color: white;
    color: var(--azul);
    border: 1px var(--azul) solid;
}