@import url('https://css.gg/css?=|facebook|instagram|log-in|log-out|mail|menu');

html{
    font-family: 'Roboto', sans-serif;
    --celeste: #183f6e;
    --azul: #003b70;
    --violeta: #4f2c7f;
    --gris: #8a8a8d;
}

*{
    list-style: none;  
    text-decoration: none;
}


body{
    min-height: 100vh;
    width: 100%;
    line-height: 1.25; 
}

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
                        "opciones"
                        "nav";
    background-color: var(--white);
}


/* telefono */
header > a:first-of-type{
    display: none;
    text-align: center;
    color: var(--azul);
    font-size: x-small;
}

/* lista de entrar y registrarse */
header > ul{
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
                        "entrar registrarse";
}

/* entrar */
header > ul > li:first-of-type{
    grid-area: entrar;
    justify-self: right;
}

/* registrarse */
header > ul > li:last-of-type{
    grid-area: registrarse;
}

/* entrar y registrarse */
header > ul > li > a{
    color: var(--azul);
    font-size: x-small;
    padding: .25rem .25rem .25rem .25rem;
}

/* efecto entrar y registrarse */
header > a:first-of-type:hover, header > ul > li > a:hover{
    background-color: var(--azul);
    color: white;
}


header > nav{
    grid-area: nav;
    justify-self: stretch;
    text-align: left;
    align-self: center;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
                        "logo   hamburguesa";
    background-color: var(--azul);
}

/* forma de paralelograma */
header > nav > a > h1::before{
    grid-area: logo;
    background-color: black;
    color: white;
    width: 80px;
    height: 120px;
    transform: skew(20deg);
}

/* logotipo */
header > nav > a:first-of-type{
    grid-area: logo;
    color: white;
    background-color: var(--azul);
    text-align: center;
    justify-self: center;
    align-self: center;
}

/* texto logotipo */
header > nav > a:first-of-type > h1{
    margin: .25rem .25rem .25rem 1rem;
}

header > nav > a:last-of-type::after{
    grid-area: menu;
    background-color: var(--azul);
}

/* hamburguesa */
header > nav > ul{
    display: none;
    grid-area: hamburguesa;
    background-color: var(--azul);
    font-size: smaller;
    align-self: center;
}

/* opciones de la hamburguesa */
header > nav > ul > li{
    align-self: center;
    text-align: center;
    border-right: 1px solid var(--gris);
    justify-self: stretch;
}

header > nav > ul > li:last-of-type{
    border: 0;
}

header > nav > ul > li > a{
    color: white;
}

header > nav > ul > li:hover{
    background-color: var(--gris);
}

@media (min-width: 480px) {

    header{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
                            "tel opciones"
                            "nav nav";
    }

    header > ul {
        grid-area: opciones;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
                            "tel entrar registrarse";
    }

    /* telefono */
    header > a:first-of-type{
        display: inline;
        grid-area: tel;
        justify-self: left;
        text-align: center;
    }

    header > nav{
        grid-area: nav;
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-areas: 
                            "logo opciones";
    }

    /* logotipo */
    header > nav > a:first-of-type{
        grid-area: logo;
        justify-self: center;
        background-color: var(--azul);
    }

    header > nav > ul{
        grid-area: opciones;
        justify-self: stretch;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2rem;
        /*
        left: 1rem;
        right: 1rem;
        */
    }

}


footer{
    grid-area: footer;
    background-color: var(--azul);
    color: white;
    margin: 0 1rem 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
                        "dir    dir"
                        "marca  rrss";
}

footer > address{
    grid-area: dir;
    font-size: small;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
                        "dir"
                        "cp"
                        "prov";
}

footer > address > p:first-of-type{
    grid-area: dir;
}

footer > address > p:nth-of-type(2){
    grid-area: cp;
}

footer > address > p:last-of-type{
    grid-area: prov;
}

footer > small{
    grid-area: marca;
    justify-self: left;
    align-self: stretch;
    font-size: xx-small;
    background-color: black;
}

footer > ul{
    grid-area: rrss;
    background-color: black;
    /*
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    */

}

footer > ul{
    display: flex;
    align-content: space-around;
}



.gg-instagram, .gg-facebook, .gg-mail{
    color: white;
}

