html{
    font-family: 'Roboto', sans-serif;
    --celeste: #183f6e;
    --azul: #003b70;
    --violeta: #4f2c7f;
    --gris: #8a8a8d;
}

*{
    list-style: none;  
    text-decoration: none;
}


body{
    min-height: 100vh;
    width: 100%;
    line-height: 1.25; 
}

header{
    display: grid;
    grid-template-columns: 10fr 90fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
                        "tel    user"
                        "logo   menu";
    background-color: var(--white);
    margin: 0 1rem 0 1rem;
    /*¿box-shadow: .175rem .175rem .175rem var(--gris);*/
    align-items: center;
    justify-items: center;
}



/* ########################################## */
/* HEADER => TELEFONO + OPCIONES DE USUARIO   */
/* ########################################## */

/* telefono */
header > a:first-of-type{
    align-self: center;
    justify-self: left;
    padding: .25rem .25rem .25rem .25rem;
    color: var(--azul);
    font-size: x-small;
}


/* lista de login y signup */
header > ul{
    align-self: center;
    justify-self: right;
    /* Para login y signup */
    display: flex;
    align-content: space-around;
}

header > ul > li{
    margin: 0 .25rem 0 .25rem;
}

/* opcion de login y signup */
header > ul > li > a{
    color: var(--azul);
    font-size: x-small;
    padding: .25rem .25rem .25rem .25rem;
}

/* efectos del preheader*/
header > a:first-of-type:hover, header > ul > li > a:hover{
    background-color: var(--azul);
    color: white;
}


/* ########################################## */
/* LOGOTIPO + NAVBAR */
/* ########################################## */

/* forma de paralelograma */
header > a:last-of-type > h1::before{
    background-color: black;
    width: 80px;
    height: 120px;
    transform: skew(20deg);
    position: absolute;
}

/* logotipo */
header > a:last-of-type{
    grid-area: logo;
    background-color: var(--azul);
    color: white;
}

/* texto logotipo */
header > a:last-of-type > h1{
    margin: .25rem .25rem .25rem .25rem;
    position: relative;
}

header > a:last-of-type::after{
    grid-area: menu;
    background-color: var(--azul);
}

nav{

}

nav > ul{
    display: none;
}

nav > ul > li{
    align-self: center;
    text-align: center;
    border-right: 1px solid var(--gris);
}

nav > ul > li > a{
    color: white;
}

nav > ul > li > a:hover{
    background-color: var(--gris);
}

@media (min-width: 376px) {

    nav > ul{
        position: fixed;
        display: grid;
        background-color: var(--azul);
        grid-template-columns: 25fr 25fr 25fr 25fr;
        grid-template-rows: 3rem;
        left: 1rem;
        right: 1rem;
        font-size: smaller;
    }

}


footer{
    grid-area: footer;
    background-color: var(--gris);
    margin: 0 1rem 0 1rem;
    display: grid;
    grid-template-columns: 10fr 10fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
                        "dir    dir"
                        "marca  rrss";
}

footer > address{
    grid-area: dir;
    font-size: small;
}

footer > small{
    grid-area: marca;
    justify-self: left;
    align-self: center;
    font-size: xx-small;
}

footer > ul{
    grid-area: rrss;
    /*
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    */

}

footer > ul > li{
    display: inline;
    float: left;
    font-size: xx-small;
}

.icono-instagram, .icono-facebook, .icono-mail{
    color: var(--azul);
    size: .5rem;
}

