fieldset{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-items: center;
    margin-bottom: 2rem;
    font-size: x-large;
}

label{
    justify-self: left;
    align-items: center;
    text-align: left;
}

input{
    margin-top: .25rem;
    margin-bottom: 2rem;
    background-color: var(--gris);
    height: 3rem;
    border-radius: 20px;
    border: none;
}

input:placeholder-shown{
    padding-left: 2ch;
    font-size: large;
}

