.main_menu_abierto{
	grid-area: main;
    display: flex;
    flex-flow: column;
    background-color: var(--azul);
    font-size: smaller;
    align-self: center;
	transition-property: width;
	transition-duration: 1s;
}

.main_menu_cerrado{
	display: none;
}

.hamburguesa{
    background-color: var(--azul);
    border: none;
    cursor: pointer;
    color: white;
    text-align: center;
    align-self: center;
    font-size: x-large;
    padding: .5rem .5rem;
	width: 3rem;
	overflow: hidden;
}

.hamburguesa:hover{
    background-color: white;
    color: var(--azul);
}


.hamburguesa .main_menu_cerrado {
	width: 3rem;
	transition-duration: 1s;
	transition-property: width;
}

.hamburguesa .hamburguesaCerrado ul {
	opacity: 0;
	transition: 1s all;
}

.hamburguesa .hamburguesaAbierto {
	width: 20rem;
	transition-duration: 1s;
	transition-property: width;
}
.hamburguesa .hamburguesaAbierto ul {
	opacity: 1;
	transition: 1s all;
}

.hamburguesa ul {
	background-color: var(--azul);
	padding-left: 2rem;
	cursor: pointer;
	clear: both;
}

.hamburguesa ul li ul {
	max-height: 0;
	overflow: hidden;
	transition: 1s all;
}

.hamburguesa ul li:hover ul {
	max-height: 100vh;
	transition: 1s all;
}

.hamburguesa ul li {
	display: block;
	padding: 0.5rem;
}

.hamburguesa p {
	display: block;
	padding: 0.5rem;
	border-bottom: 2ps solid black;
}

.hamburguesa > ul > li:hover {
	border: black solid 3px;
	border-width: 3px 0;
}

.hamburguesa > ul > li {
	background-color: var(--paw-verde-medio-oscuro);
}

/* Funcionalidad Botón Hamburguesa */
.hamburguesa button {
	float: right;
	border: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	position: relative;
	overflow: hidden;
}

.hamburguesa button:hover,
.hamburguesa button:focus {
	margin-left: 0;
}

.hamburguesa button::before,
.hamburguesa button::after {
	display: block;
	position: absolute;
	content: " ";
	width: 2rem;
	height: 0.2rem;
	background-color: white;
	transition-property: all;
	transition-duration: 1s;
	border-radius: 0.2rem;
}

.hamburguesa button .hamburguesaAbrir::before {
	transform: translateY(-1rem) rotate(0);
	box-shadow: 0 0.6rem 0 white;
}

.hamburguesa button .hamburguesaAbrir::after {
	transform: translateY(0.2rem) rotate(0);
}

.hamburguesa button .hamburguesaCerrar::before {
	transform: translateY(0) rotate(45deg);
	box-shadow: 0 0.6rem 0 transparent;
}

.hamburguesa button .hamburguesaCerrar::after {
	transform: translateY(0) rotate(-45deg);
}