.main_menu_abierto{
	grid-area: main;
    display: flex;
    flex-flow: column;
    background-color: var(--celeste);
    font-size: smaller;
    align-self: center;

	width: 100%;
	transition: width 2s;
}

.main_menu_cerrado{
	display: none;
}

/* opciones del menu */
.main_menu_abierto > li{
    align-self: center;
    text-align: center; 
    justify-self: stretch;
    width: 100vw;
	margin: 2vh 0;
}

.main_menu_abierto > li > a{
    color: white;
	padding: 1rem 0;
	border-radius: 15px;
	font-size: large;
}

.main_menu_abierto > li > a:hover{
    color: var(--azul);
    background-color: white;
	transition-duration: .75s;
	
}

.hamburguesa{
    background-color: var(--azul);
    border: none;
    cursor: pointer;
    color: white;
    text-align: center;
    align-self: center;
    font-size: x-large;
    padding: .5rem .5rem;
	width: 3rem;
	overflow: hidden;
}

.hamburguesa:hover{
    background-color: white;
    color: var(--azul);
}


