header{
    background-color: #96BAE6;
    color: #black;

} 

header img{
    display: inline-block;
}

header p{
    margin: 0;
    display: inline-block;
}

nav{
    padding-top: 0;
    margin: 0;
    background-color: #5A99E5;
    text-align: center;
}

section{
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    height: 600px;
}
.section1{
    /*background-color: coral;*/
    /* background-attachment: fixed;*/ 

    background-image: url('https://raw.githubusercontent.com/ncavasin/paw/main/01-maquetado_web/img/istockphoto-949812160-612x612.jpg');
}

.section2{
    background-image: url('https://raw.githubusercontent.com/ncavasin/paw/main/01-maquetado_web/img/doctores2.jpg');
}


section h1{
    margin: 0;
    text-align: center;
}



footer{
    background-color: #96BAE6;
    color: black;
}

.footer{
    display: inline;
}