header{
    background-color: #96BAE6;
    color: #black;

} 

header img{
    display: inline-block;
}

header p{
    margin: 0;
    display: inline-block;
}


nav{
    padding-top: 0;
    margin: 0;
    background-color: #5A99E5;
    text-align: center;
}


section{
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    height: 600px;
}


.section1{
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/ncavasin/paw/main/01-maquetado_web/img/doctores2.jpg');
}

.section2{
    background-color: #f6f7f5;
    padding-top: 50px;
}

.section2 label{
    margin-top: 20px;   
}

.section2 input{
    margin-bottom: 20px;
}

.submit-btn{
    border-radius: 3px;
    background: #96BAE6;
}


footer{
    background-color: #96BAE6;
    color: black;
}



.footer{
    display: inline;
}