{% extends "layout.php" %}


{% block head %}
    {{ parent() }}

    <link rel="stylesheet" type='text/css' href="/assets/css/not_found.css"/>
{% endblock %}


{% block main %}
    <h1> ERROR 404: Página no encontrada</h1>
{% endblock %}