{% extends "layout.php" %}


{% block head %}
    {{ parent() }}
    
    <link rel="stylesheet" type='text/css' href="assets/css/form.css" />
    <link rel="stylesheet" type='text/css' href="assets/css/notification.css" />
    <link rel="stylesheet" type='text/css' href="assets/css/botones.css" />
{% endblock %}

{{ include("/parts/notification.php") }}

{% block main %}
    <section>
        <h2>REESTABLECER CONTRASEÑA</h2>
        
        <form action="#" method="POST" target="_self">
            <fieldset>
                <label for="email">Email de la cuenta a recuperar</label>
                <input type="email" id="email" name="email" placeholder="ejemplo@email.com" autofocus required tabindex="1" /><br>
            </fieldset>

            <input type="submit" value="Enviar" class="main_button" />

        </form>
    </section>
{% endblock %}