{% extends "layout.php" %}


{% block head %}
    {{ parent() }}


{% endblock %}

{{ include("/parts/notification.php") }}

{% block main %}
    <section>
        <h2>NUEVO TURNO</h2>
        <form action="" method="POST" id="form-turnos" target="_self" enctype="multipart/form-data">
            <fieldset id='fieldset-inputs'>
                <label for="especialidad">Especialidad</label>
                <input list="especialidad-lista" id="especialidad" name="especialidad" placeholder="Kinesiología" autocomplete="off" autofocus/>
                <label for="especialista">Especialista</label>
                <input list="especialista-lista" id="especialista" name="especialista" placeholder="Fulano" autocomplete="off"/>
                <label for='orden_medica' id='label_orden' class='label_orden'>Orden Médica
                    <input type="file" id='orden_medica' class="orden_medica input_hidden"
                            name='orden_medica' 
                            accept="application/pdf" 
                    />
                </label>
            </fieldset>
            <fieldset id='fieldset-buttons'>
                <input id='reset' type="reset" form="form-turnos" name="reset" value="Limpiar" class="limpiar"/>
            </fieldset>
        </form>
    </section>

{% endblock %}